Repository moonkaicuzui/hwk-loadplan: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 생산 현황 로직 검증 5건 수정
  CLAUDE.md
  src/models/ChartModel.js
  src/models/OrderModel.js
  src/views/KPIView.js
  tests/unit/views/KPIView.test.js
Due: eslint --fix, prettier --write

feat: TaskManagement 및 SheetsAPI 완전 구현
  react-app/src/hooks/index.js
  react-app/src/hooks/useTasks.js
  react-app/src/pages/TaskManagement.jsx
  react-app/src/services/sheetsApi.js
Due: none

feat: TaskManagement 이미지 첨부 기능 추가
  react-app/src/hooks/useTasks.js
  react-app/src/pages/TaskManagement.jsx
Due: none

chore: 불필요한 파일 git 트래킹 제거 (1.0GB → 30MB)
  .claude/ralph-loop.local.md
  .playwright-mcp/final-test-login-page.png
  .playwright-mcp/sidebar-improved-ratio.png
  .playwright-mcp/sidebar-navigation-result.png
  .playwright-mcp/sidebar-navigation.png
  .playwright-mcp/sidebar-open.png
  .playwright-mcp/sidebar-ratio-issue.png
  .playwright-mcp/sidebar_layout_test.png
  .playwright-mcp/sidebar_open_layout.png
  .playwright-mcp/sidebar_open_test.png
  .playwright-mcp/v4_dark_mode.png
  .playwright-mcp/v4_dashboard_main.png
  .playwright-mcp/v4_delayed_orders_modal.png
  .playwright-mcp/v4_process_modal.png
  .playwright-mcp/v5_dashboard_final.png
  .playwright-mcp/v9_dashboard_test.png
  A- LOADPLAN ASSEMBLY OF RACHGIA FACTORY A  12.20.2025.xlsx
  B- LOADPLAN ASSEMBLY OF RACHGIA FACTORY B  12.20.2025.xlsx
  C- LOADPLAN ASSEMBLY OF RACHGIA FACTORY C  12.20.2025.xlsx
  D- LOADPLAN ASSEMBLY OF RACHGIA FACTORY D  12.20.2025.xlsx
  package-lock.json
Due: prettier --write

feat: 용어 변경(제화/제품창고) 및 SDD/CRD 퀵 필터 추가
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  deploy.sh
  rachgia_dashboard_v19.html
  react-app/src/components/charts/FactoryLoadComparison.jsx
  react-app/src/components/charts/StageBacklogChart.jsx
  react-app/src/components/common/GlossaryTooltip.jsx
  react-app/src/components/dashboard/DelayStatusDashboard.jsx
  react-app/src/components/dashboard/UrgencyIndicator.jsx
  react-app/src/components/dashboard/WIPMonitor.jsx
  react-app/src/components/tables/DataTable.jsx
  react-app/src/components/tables/VirtualizedTable.jsx
  react-app/src/constants/processes.js
  react-app/src/contexts/GoogleDriveContext.jsx
  react-app/src/contexts/OrdersContext.jsx
  react-app/src/hooks/useDataValidation.js
  react-app/src/hooks/useFilters.js
  react-app/src/i18n/locales/ko.json
  react-app/src/pages/Dashboard.jsx
  react-app/src/pages/DataExplorer.jsx
  react-app/src/pages/DestinationAnalysis.jsx
  react-app/src/pages/ModelAnalysis.jsx
  react-app/src/services/dataParser.js
  react-app/src/services/dataValidator.js
  react-app/src/services/exportService.js
  react-app/src/utils/formatters.js
  scripts/download_from_drive.py
  scripts/generate_consolidated.py
  scripts/requirements.txt
  src/keyboard-shortcuts.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.js) or (any of: tests/**/*.js)
  prettier --write: (((any of: src/**/*.js) or (any of: tests/**/*.js)) or (any of: *.json)) or (any of: *.md)
